<app-header></app-header>
<div class="form-container">
    <h2>Crear Participante</h2>
    <form (ngSubmit)="enviarFormulario()">
        <label>Nombre:</label>
        <input type="text" [(ngModel)]="participante.nombre" name="nombre" required />
        <div *ngIf="errores['nombre']" class="error-msg">{{ errores['nombre'] }}</div>
        
        <label>Edad:</label>
        <input type="number" [(ngModel)]="participante.edad" name="edad" required />
        <div *ngIf="errores['edad']" class="error-msg">{{ errores['edad'] }}</div>
        
        <label>Rol:</label>
        <select [(ngModel)]="participante.rol" name="rol" required>
          <option value="">Selecciona un rol</option>
          <option value="pareja">Pareja</option>
          <option value="tentador">Tentador/a</option>
        </select>
        <div *ngIf="errores['rol']" class="error-msg">{{ errores['rol'] }}</div>
        
        <label>Temporada:</label>
        <input type="number" [(ngModel)]="participante.temporada" name="temporada" required />
        <div *ngIf="errores['temporada']" class="error-msg">{{ errores['temporada'] }}</div>
        
        <label>Género:</label>
        <select [(ngModel)]="participante.genero" name="genero" required>
          <option value="">Selecciona un género</option>
          <option value="hombre">Hombre</option>
          <option value="mujer">Mujer</option>
        </select>
        <div *ngIf="errores['genero']" class="error-msg">{{ errores['genero'] }}</div>
        
        <!-- Avatar -->
        <div *ngIf="avataresDisponibles.length > 0" class="avatar-selector-container">
          <div class="avatar-display-wrapper">
            <button class="nav-button left" (click)="cambiarAvatar(-1)" [disabled]="indiceSeleccionado === 0">&lt;</button>
        
            <div class="avatar-display">
              <img
                [src]="avataresDisponibles[indiceSeleccionado]?.url"
                alt="avatar"
                class="avatar-img"
              />
            </div>
        
            <button class="nav-button right" (click)="cambiarAvatar(1)" [disabled]="indiceSeleccionado === avataresDisponibles.length - 1">&gt;</button>
          </div>
        
          <button class="select-button" type="button" (click)="seleccionarAvatar(avataresDisponibles[indiceSeleccionado])">
            Seleccionar
          </button>
          <div *ngIf="errores['avatar']" class="error-msg">{{ errores['avatar'] }}</div>
        </div>
        
      
  
      <button type="submit">Crear Participante</button>
    </form>
  </div>
  